/*
By Herreman David
http://www.free-css-templates.com
*/

body {
 background: #FFF url(bg.jpg) repeat-x;
 color: #000;
 padding: 0; margin: 0; font: 0.7em Arial, sans-serif; line-height: 1.5em;
}

a { color: #46574D; background: inherit; }
a:hover { color: #647B6D; background: inherit;}

h1 { font: bold 2em Arial, Sans-Serif; letter-spacing: -1px; padding: 16px 0 0 8px; margin: 0; }
h2 { margin: 0; padding: 0; font: normal 1.6em Arial, Sans-Serif; letter-spacing: -1px; }
h1 a { color: #46574D; background: inherit; }
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #BFE1ED; background: inherit; }
h3 { font: 90% Arial, Sans-Serif; margin: 0 0 10px 0; padding: 0; color: #46574D; background: #FFF; }
p {	margin: 0 0 0px 0; line-height: 1.5em; }
form { margin: 0; }

input.search { width: 122px; height: 15px; border: 1px dotted #FF9C00; background: #FFF; padding: 3px; color: #616161; }
input.submit { width: 28px; height: 20px; font-weight: bold; border: none; background: #FFF; padding: 3px; color: #616161; }



.content { margin: 0 auto; padding: 0px; color: #000; }
.header { color: #000; width: 800px; height: 81px;	margin: 0 auto; padding: 0; }
.hearder .leftside {	width: 350px; float: left;  }
.header h1 {

	padding: 12px 0 0 0px;
	color: #000;
	font: bold 2.5em Arial, sans-serif;
	
}

.header h2 {	
	padding: 0;
	color: #FFF;
	font: bold 1.8em Arial, sans-serif;	
}

.header .searchf {
	float: right;
	margin-right: 15px;
	clear: both;
	margin-top: 35px;
}

.searchpad { padding-top: 15px; }

#lnews { 
	padding: 15px;
	color: #FFF;
	width: 800px;
	height: 90px;
	font: 1.3em Arial, sans-serif;
	margin: 0 auto;
}
#lnews h2 { font: bold 1.4em Arial, sans-serif; color: #FFCF83; }
#lnews a { color: #FFCF83; text-decoration: none; } 
#lnews a:hover { color: #FFDF83; text-decoration: underline; }
#nav {
	margin: 10px auto;
	width: 800px;
	height: auto;
}
#bottomb {
	clear: both;
	width: 100%;
	background: #FFDEAB url(topb.jpg) repeat-x top;
	font: 1.25em Arial, sans-serif;
}
#bottomb .padding {
	width: 800px;
	margin: 0 auto;
	padding: 30px 40px 10px 60px;
}
#bottomb ul { margin:0; list-style:none; padding: 0; }
#bottomb li { 
	margin: 5px 0 5px 0px; 
	padding: 0px 0 3px 0px; 
	border-bottom: 1px dotted #ccc; 
	list-style: none;
}
#bottomb li a { color: #546078; text-decoration: none;  padding: 5px 0 0 0; display: block; margin-bottom: 2px; }
#bottomb li a:hover { color: #075181; text-decoration: none; background: #FFDCA6; display: block; margin-bottom: 2px; }
#bottomb h2 {
	padding: 5px 0 5px 0;
	color: #FF9C00;
	font: bold 1.6em Arial, sans-serif;
}
#bottomb .rights {
	float: right;
	width: 200px;
	z-index: 1;
	width: 200px;
}
#bottomb .bottomc {
	width: 200px;
	margin: 0 auto;
	z-index: 2;
	float: center;	
}
#bottomb .bottomd {
	width: 200px;
	margin: 0;
	z-index: 3;
	float: left;	
}
.imgd {
	border: 1px solid #ccc;
	padding: 5px;	
}
.main_content {
	margin: 0 auto;
	margin-top: 10px;
	width: 800px;
    min-height:350px;
}
.sd_left {
	float: left;
	color: #000;
	margin: 0 0 0px 5px;
	padding: 0px 20px 0px 5px;
	width: 500px;
	font: 1.3em arial, helvetica, verdana, sans-serif;
}
.sd_right {
    clear:both;
    float: right;
	color: #000;
	margin: 0 5px 0 0;
	padding: 0px 0px 0 0px;
	width: 250px;
	font: 1.3em arial, helvetica, verdana, sans-serif;
}
.text_padding {
	padding: 15px 0 0 0;
}
.main_content h2 {
	padding: 5px 0 5px 0;
	color: #FF9C00;
	font: bold 1.6em Arial, sans-serif;
}
.date { 
	color: #46574D; 
	background: #FFFFFF;
	text-align: right; 
	margin: 10px 0 5px 0; 
	padding: 0.4em 0 0 0; 
	border-top: 1px solid #FFDEAB;
}
.date img {
	vertical-align: middle;
}
input.button { 
	background: #FFFFF4; 
	color: #808080;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.comments { 
	padding: 10px 10px 8px 10px; 
	margin: 0 0 7px 0; 
	background: #f8f8f8; 
	color: #000;
}
.commentsbox { 
	padding: 8px 0 10px 10px; 
	margin: 0 0 10px 0; 
	background: #f4f4f4; 
	color: #000;
}
.error {
	color: #990000;
	background-color: #FFF0F0;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px dashed #990000;
}
.error h2 {
	color: #990000;
	background: inherit;
}
.success {
	color: #000000;
	background: #F5FBE1;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px dashed #7BA813;
}
.success h2 {
	color: #7BA813;
	background: inherit;
}
.footer { 
	background: #000 url(footer.jpg) repeat-x top;
	width: 100%;
	color:#eee;  
	text-align:center; 
	clear:both;
	font: 1.3em arial, helvetica, verdana, sans-serif;	
}
.footer .padding { padding: 25px 70px 25px 70px; }
.footer a { color:#FFCF83; text-decoration: none;}
.footer a:hover { color:#FFDF83; text-decoration: underline; }
.horizontalcssmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.horizontalcssmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
display: block;
width: 120px; /*Width of top level menu link items*/
padding: 2px 8px;
border: 1px solid #202020;
border-left-width: 0;
text-decoration: none;
background: url(menubg.gif) center center repeat-x;
color: black;
font: bold 13px Tahoma;
}
	
/*Sub level menu*/
.horizontalcssmenu ul li ul{
left: 0;
top: 0;
border-top: 1px solid #202020;
position: absolute;
display: block;
visibility: hidden;
z-index: 100;
}

/*Sub level menu list items*/
.horizontalcssmenu ul li ul li{
display: inline;
float: none;
}


/* Sub level menu links style */
.horizontalcssmenu ul li ul li a{
width: 160px; /*width of sub menu levels*/
font-weight: normal;
padding: 2px 5px;
background: #FFCC66;
border-width: 0 1px 1px 1px;
}

.horizontalcssmenu ul li a:hover{
background: url(menubgover.gif) center center repeat-x;
}

.horizontalcssmenu ul li ul li a:hover{
background: #FFFF33;
}

.horizontalcssmenu .arrowdiv{
position: absolute;
right: 0;
background: transparent url(menuarrow.gif) no-repeat center left;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; 	top: -60px;
}
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */

.leftside #logo{
	position:absolute;
	right:224px;
}